<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.rishabh.paste</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/paste</string>
		<string>-addr</string>
		<string>127.0.0.1:80</string>
		<string>-db</string>
		<string>/usr/local/var/paste/pastes.db</string>
	</array>

	<key>UserName</key>
	<string>root</string>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<true/>

	<key>StandardOutPath</key>
	<string>/usr/local/var/log/paste.log</string>

	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/paste.log</string>

	<key>WorkingDirectory</key>
	<string>/usr/local/var/paste</string>
</dict>
</plist>
